/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2019, 16:18:19
    Author     : asvor
*/

.label
{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    
}

.label-header
{
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
}

.label-sub-header
{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.anchorpane
{
    -fx-padding: 10px;
    -fx-background-color: #004686;
    /*-fx-background-color: #dddddd;*/
    /*-fx-effect: dropshadow( one-pass-box , grey , 10 , 0.0 , 10 , 15 );*/
}

.scrollpane
{
    -fx-background: #dddddd;
    -fx-background-insets: 0;
}

