/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2019, 16:18:19
    Author     : asvor
*/

.label
{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    
}

.label-done
{
    -fx-text-fill: #33ff33;
}

.label-header
{
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
}

.label-dep
{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding: 5 6 5 6;
    -fx-border-color: white
}

.label-sub-header
{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label-dep .label-done
{
    -fx-background-color: green;
}

.label-dep .label-ongoing
{
    -fx-background-color: #ffcc00;
}

.label-dep .label-late
{
    -fx-background-color: red;
}

.label-dep .label-irrelevant
{
    -fx-background-color: gray;
}

.anchorpane
{
    -fx-padding: 10px;
    -fx-background-color: #004686;
}

.scrollpane
{
    -fx-background: #dddddd;
    -fx-background-insets: 0;
}
